html, body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* start global classes */
a {
    text-decoration: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* end global classes */

/* start navbar */
.nav {
    background: white;
    padding: 0.2rem;
    height: 0rem;
    min-height: 40vh;
    overflow: hidden;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .nav-items {
    list-style-type: none;
    display: flex;
    margin: 0;
}

.nav .nav-brand a {
    font-size: 1.6rem;
    padding: 1rem 0;

}

/* end navbar */

